In [1]:
import pandas as pd
path="C:\\Users\\\mf879\\OneDrive\\Desktop\\naveed\\naveed\\drug200.csv"
data= pd.read_csv(path)

In [2]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB
None

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB
None

In [4]:
data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [5]:
data['Sex']=data['Sex'].map({'M':1,'F':0})
print(data)

     Age  Sex      BP Cholesterol  Na_to_K   Drug
0     23    0    HIGH        HIGH   25.355  DrugY
1     47    1     LOW        HIGH   13.093  drugC
2     47    1     LOW        HIGH   10.114  drugC
3     28    0  NORMAL        HIGH    7.798  drugX
4     61    0     LOW        HIGH   18.043  DrugY
..   ...  ...     ...         ...      ...    ...
195   56    0     LOW        HIGH   11.567  drugC
196   16    1     LOW        HIGH   12.006  drugC
197   52    1  NORMAL        HIGH    9.894  drugX
198   23    1  NORMAL      NORMAL   14.020  drugX
199   40    0     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [6]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le_BP=LabelEncoder()

In [7]:
data['BP']=le_BP.fit_transform(data['BP'])

In [8]:
le_C=LabelEncoder()
data['Cholesterol']=le_BP.fit_transform(data['Cholesterol'])

In [9]:
data

     Age  Sex  BP  Cholesterol  Na_to_K   Drug
0     23    0   0            0   25.355  DrugY
1     47    1   1            0   13.093  drugC
2     47    1   1            0   10.114  drugC
3     28    0   2            0    7.798  drugX
4     61    0   1            0   18.043  DrugY
..   ...  ...  ..          ...      ...    ...
195   56    0   1            0   11.567  drugC
196   16    1   1            0   12.006  drugC
197   52    1   2            0    9.894  drugX
198   23    1   2            1   14.020  drugX
199   40    0   1            1   11.349  drugX

[200 rows x 6 columns]

In [10]:
inputs=data.drop('Drug','columns')
outputs=data.drop(['Age','Sex','BP','Cholesterol','Na_to_K'],'columns')

C:\Users\mf879\AppData\Local\Temp\ipykernel_13468\2081493596.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop('Drug','columns')
C:\Users\mf879\AppData\Local\Temp\ipykernel_13468\2081493596.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  outputs=data.drop(['Age','Sex','BP','Cholesterol','Na_to_K'],'columns')

In [11]:
from sklearn import tree 
model=tree.DecisionTreeClassifier()
model.fit(inputs,outputs)

DecisionTreeClassifier()

In [12]:
y=model.predict([[23,0,0,0,25.355]])
print(y)

['DrugY']

C:\Users\mf879\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(